# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.sql
*.crt
*.key
quantity-errors
certs
bash-commands/logs.txt
bash-commands/sudo
request_logs/

media
media/aa
media/items-images
media/tmp
data/db
data
db
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 
__pycache__
migrations
db.sqlite3

